.FeedbackPage {
    width: 100%;
    height: fit-content;
    background-color: #0F0F0F; 
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;  /* IE and Edge */
    overflow-y: hidden;
    scrollbar-width: none;
}
.FeedbackPage::-webkit-scrollbar {
    display: none;
  }

.feedbackPageCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}